<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="banner" style="background-image: url('/images/background-cover.jpg')">
      <div class="banner-overlay"></div>
    </div>

    <div class="site-content">
      <div class="site-content__inner">
        <main class="main-content">
          {{ content }}
        </main>
        {% include sidebar.html %}
      </div>
    </div>

    {% include footer.html %}

    {% include external.html %}

  </body>

</html>
